input:valid {    
    border: 1px solid black;
}
input:invalid {
    border: 3px solid maroon;
}

#first_fieldset label {
    float: left;
    width: 6em;
    text-align: right;
    margin-top: 12px;
    margin-right: 5px;
}

#first_fieldset input {
    margin-top: 10px;
    margin-left: 0;
}

#first_fieldset select {
    margin-top: 10px;
}

fieldset input {
    margin-left: 3em;
}

fieldset textarea {
    margin-left: 3em;
    height: 5em;
    width: 32em;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset input[type="checkbox"] {
    margin-bottom: 13px;
}